{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/user-create.css') }}">
{% endblock %}

{% block body %}
    <div class="user-create-container">
        <h1>Créer un nouvel utilisateur</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.pseudo) }}
            {{ form_row(form.password) }}
            {{ form_row(form.userType) }}
            <button type="submit">Créer</button>
        {{ form_end(form) }}

        <a href="{{ path('admin_user_list') }}" class="back-link">← Retour à la liste des utilisateurs</a>
    </div>
{% endblock %}
