{% extends 'base.html.twig' %}
{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l’utilisateur : {{ user.pseudo }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.password) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_user_list') }}">← Retour à la liste</a>
{% endblock %}
