<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/components/body.css') }}">
        <link rel="stylesheet" href="{{ asset('css/components/header.css') }}">
        <link rel="stylesheet" href="{{ asset('css/components/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/utils/unimplemented.css') }}">
    {% endblock %}
</head>
<body>

    {% include 'components/header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}

    {% block javascripts %}
        <script src="{{ asset('js/utils/unimplemented.js') }}"></script>

        <script>
            window.USER_TYPE = "{{ app.user ? app.user.userType : 'guest' }}";
        </script>

        <script src="{{ asset('js/utils/access-guard.js') }}"></script>
    {% endblock %}

</body>
</html>
