{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/users/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login-container">
        <h1 class="login-title">Connexion</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <p class="no-account">
            Vous n'avez pas encore de compte ?
            <a href="{{ path('app_register') }}">Inscrivez-vous ici</a>.
        </p>
    </div>
{% endblock %}
